# Copied from the launched Vercel project's env (written by the FastWeb launch).
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SITE_KIND=event
DB_TABLE_SUFFIX=none
PAYMENT_PROVIDER=paystack
PAYSTACK_SECRET_KEY=
RESEND_API_KEY=
EMAIL_FROM=
